body {
    font-family: Georgia, serif;
    color:rgb(68, 130, 245);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 25%;
    margin-top: -10px;
}

h6 {
    padding: 10px 10px 10px 10px; 
    background-color: rgb(79, 137, 245);
    color: #ffffff;
    text-align: center;
    font-size:14px;
}

/* navigation */
header nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    justify-content: center;
    margin-left: -0.2em;
}

header nav ul li {
    display: inline;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: bold;
    font-size: 2vw;
    color: rgb(79, 137, 245);
    text-decoration: none;
}

.larger-letter {
    font-size: 1.5em;
    font-weight: bold;
    display: inline;
    margin-right: -0.6em;
}

/* hide dropdown content by default */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 2;
}

/* clear floats after the dropdown */
.dropdown:after {
    content: "";
    clear: both;
    display: table;
}

/* hero style start */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 100%;
    height: auto;
}

/* mass schedule style */
section .mass-schedule {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    color: rgb(79, 137, 245);
    margin: 0;
    margin-top: 15px;
}

.schedule {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 48%;
}

.schedule .column ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.schedule .column ul li {
    margin: 5px 10px;
    flex: 1;
}

.mass-schedule {
    text-align: center;
    margin-top: 20px;
    font-size: 3vw;
}

/* footer style */
.footer {
    padding: 10px 10px 10px 10px; 
    background-color: rgb(79, 137, 245);
    color: #ffffff;
    text-align: center;
    font-size: 10px;
}