body {
    font-family: Georgia, serif;
    color:rgb(68, 130, 245);
}

h6 {
    padding: 10px 10px 10px 10px; 
    background-color: rgb(79, 137, 245);
    color: #ffffff;
    text-align: center;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #ffffff;
    margin: 0;
}
header a {
    color: #fce138;
}